<?xml version="1.0" encoding="UTF-8" ?>
<configdata>
  
  <!--
  ***********************************************************
  * config for online evnironment                           *
  ***********************************************************
  -->
  <production>

    <domains>
      <static>
        <!-- http://developer.yahoo.com/performance/rules.html#split -->
        <components></components>
      </static>
    </domains>    
    
    <!-- mailer -->
    <mail>
      <from>        
        <name>ZOOLU</name>
        <address>info@getzoolu.org</address>
      </from>
      <recipient>        
        <name>Cornelius Hansjakob</name>
        <address>cha@massiveart.com</address>
      </recipient>
      <params>
        <host>mailer.com</host>
        <username>zoolu@mailer.com</username>
        <password>zoolu</password>
      </params>
      <actions>
        <sendmail>
          <client>true</client>
          <confirmation>false</confirmation>
        </sendmail>
        <database>true</database>
      </actions>
      <database>pageRegistrations</database>
    </mail>

    <!-- languages -->
    <languages>
      <language>
        <id>1</id>
        <code>de</code>
      </language>
      <language>
        <id>2</id>
        <code>en</code>
      </language>
      <language>
        <id>3</id>
        <code>es</code>
      </language>
      <language>
        <id>4</id>
        <code>de-de</code>
      </language>
      <language>
        <id>5</id>
        <code>it</code>
      </language>
      <language>
        <id>6</id>
        <code>fr</code>
      </language>
      <language>
        <id>7</id>
        <code>pl</code>
      </language>
      <language>
        <id>8</id>
        <code>ru</code>
      </language>
      <language>
        <id>9</id>
        <code>sv</code>
      </language>
      <language>
        <id>10</id>
        <code>en-us</code>
      </language>
      <language>
        <id>11</id>
        <code>en-nz</code>
      </language>
      <language>
        <id>12</id>
        <code>en-au</code>
      </language>
      <language>
        <id>13</id>
        <code>jp</code>
      </language>
      <language>
        <id>14</id>
        <code>es-co</code>
      </language>
      <language>
        <id>15</id>
        <code>es-mx</code>
      </language>
      <language>
        <id>16</id>
        <code>en-as</code>
      </language>
      <language>
        <id>17</id>
        <code>en-me</code>
      </language>
      <language>
        <id>18</id>
        <code>pt-br</code>
      </language>
      <language>
        <id>19</id>
        <code>cn</code>
      </language>
      <language>
        <id>20</id>
        <code>ko</code>
      </language>
      <language>
        <id>21</id>
        <code>en-in</code>
      </language>
      <language>
        <id>22</id>
        <code>sl</code>
      </language>
      <language>
        <id>23</id>
        <code>el</code>
      </language>
      <language>
        <id>24</id>
        <code>tr</code>
      </language>
      <language>
        <id>25</id>
        <code>en-uk</code>
      </language>
      <language>
        <id>26</id>
        <code>hr</code>
      </language>      
    </languages>
    
    <!-- table: categories / idRootCategory=27, idCategoryTypes=2 -->
    <viewtypes>
      <col1>
        <id>28</id>
        <matchcode>col-1</matchcode>
      </col1>
      <col1_img>
        <id>29</id>
        <matchcode>col-1-img</matchcode>
      </col1_img>
      <col2>
        <id>30</id>
        <matchcode>col-2</matchcode>
      </col2>
      <col2_img>
        <id>31</id>
        <matchcode>col-2-img</matchcode>
      </col2_img>
      <list>
        <id>35</id>
        <matchcode>list</matchcode>
      </list>
      <list_img>
        <id>36</id>
        <matchcode>list-img</matchcode>
      </list_img>      
    </viewtypes>
    
    <!-- table: categories / idRootCategory=42, idCategoryTypes=2 -->
    <viewoptions>
      <similar_pages>
        <id>43</id>
        <matchcode>similar_pages</matchcode>
      </similar_pages> 
    </viewoptions>
    
    <!-- table: categories / idRootCategory=55, idCategoryTypes=2 -->
    <contactoptions>
      <big_contact>
        <id>56</id>
        <matchcode>big_contact</matchcode>
      </big_contact> 
    </contactoptions>
    
    <!-- table: categories / idRootCategory=49, idCategoryTypes=2 -->
    <eventstatus>
      <open>
        <id>50</id>
      </open>
      <rest>
        <id>51</id>
      </rest>
      <full>
        <id>52</id>
      </full> 
    </eventstatus>
    
    <!-- encrypt/decrypt -->
    <crypt>
      <key>y8d4dp2RBcFFS4YpRKtlDyaFjE2FEd3k</key>
    </crypt>

  </production>
  
  <!--
  ***********************************************************
  * config for developement evnironment                     *
  ***********************************************************
  -->
  <staging extends="production">
      
    <domains>
      <static>
        <!-- http://developer.yahoo.com/performance/rules.html#split -->
        <components></components>
      </static>
    </domains>
    
    <!-- mailer -->
    <mail>
      <recipient>        
        <name>Cornelius Hansjakob</name>
        <address>cha@massiveart.com</address>
      </recipient>
    </mail>
    
  </staging>
  
  <!--
  ***********************************************************
  * config for development evnironment                     *
  ***********************************************************
  -->
  <development extends="staging">
  
  </development>
  
</configdata>