/**
 * Core Main
 *
 * @author Cornelius Hansjakob <cha@massiveart.com>
 * @version 1.0
 */


/* ----------------
Reset */
@import url(reset.css);


/* ----------------
Main Structure */

html, body {
  overflow:hidden;
}

body {
  background-color:#fff;
}

#north {
  position:relative;
}

#east {
  position:relative;
}

#center {
  position:relative;
}

#navigation {
  position:relative;
  height:100%;
}

#content {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index:30;
  background-color:#c6c6c6;
}

#content2 {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index:30;
  margin:0 10px 10px 0;
  background-color:#c6c6c6; /*E4E4E4;*/
}

#widgets {
  position:absolute;
  top:0;
  left:0;
  bottom:10px;
  right:10px; z-index:30;
}

/* ----------------
Basics */

.clear {
  height:0;
  line-height:0;
  font-size:0;
  clear:both;
  visibility:hidden;
}

.x-layout-split { /* overwrite ext css */
  height:10px;
}

.spacer1 {
  height:10px;
}

.spacer2 {
  height:20px;
}

.cursorhand {
  cursor:pointer;
}

/* ----------------
Content List View */

.tablelist {
  width:98%;
}

/* --- top --- */
.topcornerleft {
  background: #e4e4e4 url(/zoolu/images/main/list_corner_left_top.png) no-repeat 0 0;
  height:26px;
  width:11px;
}

.topcornerright {
  background: #e4e4e4 url(/zoolu/images/main/list_corner_right_top.png) no-repeat 0 0;
  height:26px;
  width:11px;
}

.topcheckbox {
  background: #e4e4e4 url(/zoolu/images/main/pixel_white.gif) repeat-x 0 0;
  width:30px;
  height:26px;
  padding:0;
  text-align:left;
}

.topposition {
  background: #e4e4e4 url(/zoolu/images/main/pixel_white.gif) repeat-x 0 0;
  width:50px;
  height:26px;
  padding:0 11px 0 11px;
  text-align:left;
}

.topicon {
  width:50px;
  background: #e4e4e4 url(/zoolu/images/main/pixel_white.gif) repeat-x 0 0;
  height:26px;
  padding:0 11px 0 11px;
  text-align:left;
}

.toptitle,
.topname,
.topsname,
.topfname,
.topkey {
  background: #e4e4e4 url(/zoolu/images/main/pixel_white.gif) repeat-x 0 0;
  height:26px;
  padding:0 11px 0 11px;
  text-align:left;
}

.topauthor,
.topeditor,
.topcreator {
  width:160px;
  background: #e4e4e4 url(/zoolu/images/main/pixel_white.gif) repeat-x 0 0;
  height:26px;
  padding:0 11px 0 11px;
  text-align:left;
}

.topcreated {
  width:140px;
  background: #e4e4e4 url(/zoolu/images/main/pixel_white.gif) repeat-x 0 0;
  height:26px;
  padding:0 11px 0 11px;
  text-align:left;
}

.topchanged {
  width:140px;
  background: #e4e4e4 url(/zoolu/images/main/pixel_white.gif) repeat-x 0 0;
  height:26px;
  padding:0 11px 0 11px;
  text-align:left;
}

.topstatus {
  width:140px;
  background: #e4e4e4 url(/zoolu/images/main/pixel_white.gif) repeat-x 0 0;
  height:26px;
  padding:0 11px 0 11px;
  text-align:left;
}

.tablelist th div {
  cursor:pointer;
  padding:2px 0 2px 0;
}

.tablelist th.sort {
  background-color:#ccc;
  border-left:1px solid #fff;
  border-right:1px solid #fff;
  padding:0 10px 0 10px;
}

.tablelist .asc {
  background:url(/zoolu/images/icons/list_pointer_down.png) no-repeat 100% 50%;
}

.tablelist .desc {
  background:url(/zoolu/images/icons/list_pointer_up.png) no-repeat 100% 50%;
}

/* --- rows --- */
.rowcheckbox {
  width:30px;
  background: url(/zoolu/images/main/pixel_white.gif) repeat-y 0 0;
  height:30px;
  padding:0 0 0 11px;
}

.rowposition {
  width:50px;
  height:30px;
  padding:0 11px 0 11px;
}

.rowicon {
  width:50px;
  height:30px;
  padding:0 11px 0 11px;
}

.rowtitle,
.rowsname,
.rowfname,
.rowkey {
  height:30px;
  padding:0 11px 0 11px; 
}

.rowauthor,
.roweditor,
.rowcreator {
  width:160px;
  height:30px;
  padding:0 11px 0 11px;
}

.rowcreated {
  width:140px;
  height:30px;
  padding:0 11px 0 11px;
}

.rowchanged {
  width:140px;
  height:30px;
  padding:0 11px 0 11px;
}

.rowstatus {
  width:140px;
  height:30px;
  padding:0 11px 0 11px;
}

/* --- footer --- */
.listfooter {
  position:relative;
  height:36px;
  background:#e4e4e4 url(/zoolu/images/main/pixel_white.gif) repeat-x 0 bottom;
  width:98%;  
}

.listfootercornerleft {
  background:url(/zoolu/images/main/list_corner_left_bottom.png) no-repeat 0 bottom;
  position:absolute;
  top:0;
  left:0;
  width:11px;
  height:36px;
}

.listfootercornerright {
  background:url(/zoolu/images/main/list_corner_right_bottom.png) no-repeat 0 bottom;
  position:absolute;
  top:0;
  right:0;
  width:11px;
  height:36px;
}

.listfootercontent {
  position:absolute;
  top:8px;
  right:11px;
  height:28px;  
  width:480px;    
}

.listentriespage {
  float:right;
  width:220px;
}

.listpagination {
  float:right;
  width:260px;
}

.listpagination .listjumptopage {
  float:left;
  width:100px;
}
	
.listpagination .listback {
  float:left;
  width:80px;
}

.listpagination .listnext {
  float:left;
  width:80px;
}

.listpagination .listfooterbutton {
  height:20px;
}

.listfooterbutton .buttonleft {
  background:#ccc url(/zoolu/images/main/list_footer_button.png) no-repeat 0 0;
  height:20px;
  width:5px;
  float:left; 
}

.listfooterbutton .buttoncenter {
  height:19px;
  background-color:#ccc;
  float:left;
  cursor:pointer;
  padding:1px 5px 0 5px;
  color:#754480;
}

.listfooterbutton .buttonright {
  background:#ccc url(/zoolu/images/main/list_footer_button.png) no-repeat -5px 0;
  height:20px;
  width:5px;
  float:left;
}

.tablelist .listrow td {
  background-color:#fff;
  border-top:1px solid #e4e4e4;
  /*border-right:1px solid #fff;*/
}

.tablelist .hover td {
  background-color:#e4e4e4;
}

.tablelist .selected td {
  background-color:#ccc;
  
}

/* ----------------
Screen Overlay */

.overlaytrans {
  position:absolute;
  overflow:hidden;
  z-index:800;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.overlayblack75 {
  position: absolute;
  overflow:hidden;
  z-index:801;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: url('/zoolu/images/main/trans_black75.png') repeat;
}

.overlaycontentwrapper {
  position:absolute;
  z-index:810;
  width:460px;
}

#overlaySingleEdit {
  width:560px;
}

/* --- overlay header --- */

td.headercenter {
  background-color:#e4e4e4;
  height:15px;
  cursor:move;
}

td.headercenter .headerclose {
  background:url(/zoolu/images/icons/icon_close.png) no-repeat 0 0;
  float:right;
  height:15px;
  width:11px;
  cursor:pointer; 
}

/* --- overlay content --- */

td.contentcenter {
  background-color:#ccc;
  padding:5px;
}

td.contentcenter .oltitle {
  padding:5px 0 0 0; 
}

td.contentcenter #overlayButtons {  
  padding:20px 0 0 0;  
}

td.contentcenter #buttonOk {
  float:left;
  margin:0 5px 0 0;
  cursor:pointer;
}

td.contentcenter #buttonCancel {
  float:left;
  margin:0 0 0 5px;
  cursor:pointer;
}

/* --- overlay border --- */

.overlaycontentwrapper table {
  width:100%;
}

td.cornertopleft {
	background-image:url(/zoolu/images/overlay/corner_top_left.png);
	background-repeat:no-repeat;
	font-size:0;
	height:10px;
	width:10px;
}

td.topcenter {
  background-image:url(/zoolu/images/overlay/bg_header_h.png);
  background-repeat:repeat-x;
  font-size:0;
  height:10px; 
}

td.cornertopright {
  background-image:url(/zoolu/images/overlay/corner_top_right.png);
  background-repeat:no-repeat;
  font-size:0;
  height:10px;
  width:10px;
}

td.cornerbottomleft {
  background-image:url(/zoolu/images/overlay/corner_bottom_left.png);
  background-repeat:no-repeat;
  font-size:0;
  height:10px;
  width:10px;
}

td.bottomcenter {
  background-image:url(/zoolu/images/overlay/bg_content_h.png);
  background-repeat:repeat-x;
  font-size:0;
  height:10px; 
}

td.cornerbottomright {
  background-image:url(/zoolu/images/overlay/corner_bottom_right.png);
  background-repeat:no-repeat;
  font-size:0;
  height:10px;
  width:10px;
}

td.headerleft {
  background-image:url(/zoolu/images/overlay/bg_header_v_left.png);
  background-repeat:repeat-y;
  font-size:0;
  width:10px;
}

td.headerright {
  background-image:url(/zoolu/images/overlay/bg_header_v_right.png);
  background-repeat:repeat-y;
  font-size:0;
  width:10px;
}

td.contentleft {
  background-image:url(/zoolu/images/overlay/bg_content_v_left.png);
  background-repeat:repeat-y;
  font-size:0;
  width:10px;
}

td.contentright {
  background-image:url(/zoolu/images/overlay/bg_content_v_right.png);
  background-repeat:repeat-y;
  font-size:0;
  width:10px;
}

/* ----------------
AJAX-Loader Classes */
  
  /* content */
.busy {  
  background-image: url(/zoolu/images/main/loader_gray.gif);
  background-repeat: no-repeat;
  background-position: center center;
}

  /* navigation */
#divNaviCenter .busy {
  background-image: url(/zoolu/images/main/loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
}

  /* change template */
#divAllTemplates .busy {
  background-image: url(/zoolu/images/main/loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
}

#divAllTemplates .busy a, #divChangeTemplate .busy img{
  visibility:hidden;
}

  /* change meta infos */
#divWidgetMetaInfos .busy {
  background-image: url(/zoolu/images/main/loader_small_gray.gif);
  background-repeat: no-repeat;
  background-position: center 2px;
}

#divWidgetMetaInfos .busy a, #divWidgetMetaInfos .busy select{
  visibility:hidden;
}
  /* select page */
.busy .olnavigationwrapper2{
  background-image: url(/zoolu/images/main/loader.gif);
  background-repeat: no-repeat;
  background-position: center center
}

.busy .olnavigationwrapper2 div{
  visibility:hidden;
}

  /* select page */
.busy.videoContainer{
  background-image: url(/zoolu/images/main/loader.gif);
  background-repeat: no-repeat;
  background-position: center center
}

.busy.videoContainer div, .busy.videoContainer span{
  visibility:hidden;
}