<?xml version="1.0" encoding="UTF-8" ?>
<configdata>
  
  <!--
  ***********************************************************
  * config for online evnironment                           *
  ***********************************************************
  -->
  <production>
    <!-- languages -->
    <languages>
      <language>
        <id>1</id>
        <code>de</code>
      </language>
      <language>
        <id>2</id>
        <code>en</code>
      </language>
    </languages>
  </production>
  
  <!--
  ***********************************************************
  * config for developement evnironment                     *
  ***********************************************************
  -->
  <staging extends="production">
  
  </staging>
  
</configdata>